//  Colors for a Light Theme
$c100: #1f1f1f;
$c200: #f31d1d;
$c300: #d40000;
$c400: #151515;
$default: #fff;

//  ---------------------------------------------
// TextBlock Style
%card-title {
  font-size: 30px;
  line-height: 39px;
  color: $c100;
  font-weight: 600;
  margin-bottom: 9px;
}
%card-list {
  p {
    font-size: 17px;
    line-height: 27px;
    margin-left: 25px;
    font-weight: 400;
  }
  span {
    color: $c200;
    font-weight: 600;
  }
}
%card-list-after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: #000;
  display: block;
  top: 45%;
  bottom: 0;
  align-items: center;
}

//  Fonts

$font: "Poppins", sans-serif;

//  Weights
$font-r: 400;
$font-m: 500;
$font-sb: 600;
$font-b: 700;

//
//  Breakpoints
//  ---------------------------------------------

$mobile-320: 320px;
$mobile__xx-small: 375px;
$mobile-480: 480px;
$mobile-600: 600px;
$mobile__small: 640px;
$mobile-768: 768px;
$tablet__small: 992px;
$tablet__basic: 1024px;
$desktop__small: 1280px;
$desktop__wxga-display: 1366px;
$desktop__basic: 1440px;

//
// Hover
%dtrans {
  transition: all 0.5s ease;
}
%htrans {
  transition: all 0.3s ease;
}

// Btn
%btn {
  background-color: $c200;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(238, 28, 37, 0.2);
  width: 185px;
  height: 48px;
  color: $default;
}
